*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-bg: #0d1117;
	--secondary-bg: #161b22;

	--primary-text: #c9d1d9;
	--secondary-text: #8b949e;
	--link-color: #58a6ff;
}

body {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: var(--primary-text);
	background-color: var(--primary-bg);
}

a {
	color: var(--link-color);
	text-decoration: none;
}

a:not(.underline):hover,
a:not(.underline):focus {
	text-decoration: underline;
}

a.underline {
	text-decoration: none;
	position: relative;
}

a.underline:hover::after,
a.underline:focus-visible::after {
	transform: scale(1) translateX(-50%);
}

a.underline:focus {
	outline-offset: 4px;
}

a.underline::after {
	content: '';
	width: 100%;
	max-width: 7em;
	height: 2px;
	background: currentColor;
	transition: transform 0.25s;
	position: absolute;
	bottom: -2px;
	left: 50%;
	transform: scale(0) translateX(-50%);
	transform-origin: 0 50%;
}

button {
	cursor: pointer;
}

ul,
ol {
	list-style: none;
}
